<!DOCTYPE html>
<html>
    <head>
        <title>
            Wine Tasting App
        </title>
    </head>
    <body>
        <h1>Wine Tasting App</h1>
        <img src="rickroll.jpg" alt="you've been rick rolled"/>
    </body>
</html>
